.outer-container {
    display: flex;
    border: 1px solid black;
    margin: 0 .5em 0 .5em;
}

.portfolio-image {
    width: 10%;
}

.contact-list {
    list-style-type: none;
}

.contact-list li {
    display: inline-block;
    margin-left: 1.1em;
}

.contact-list a{
    margin-left: .5em;
}
body {
    background-color: white;
}
