.flex {
    display: flex;
    flex-direction: row;
    border: 1px solid blue;
    margin: 0 .5em 0 .5em;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1% 30% 0 30%;
    border-bottom: 1px solid black;

}

.experience-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1% 30% 0 30%;
    border-bottom: 1px solid black;
}
.education-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1% 30% 0 30%;
}

.portfolio-image {
    width: 10%;
    float: left;
}

.contact-list {
    list-style-type: none;
}

.contact-list li {
    display: inline-block;
    margin-left: 1.1em;
}

.contact-list a{
    margin-left: .5em;
}
body {
    background-color: cornsilk;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid pink;
    margin: 0 .5em 0 .5em;
}
