@import url('https://fonts.goggleapis.com/css?family=Orbitron');
/* Declare Variables */
:root {
    --my-margin: 2% 30% 0 30%;
    --border-bottom: 1px solid black;
    --contact-list-li: inline-block;
}

body {
    background-color: cornsilk;
}

/* 992px or less */
@media screen and (max-width: 992px) {
    :root {
        --my-margin: 2% 17% 0 17%;
        --contact-list-li: block;
    }
}

/* 600px or less */
@media screen and (max-width: 600px) {
    :root {
        --my-margin: 2% 7% 0 7%;
        --contact-list-li: block;
    }
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio-image {
    width: 10%;
}

.description-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: var(--my-margin);
    border-bottom: var(--border-bottom);

}

.proficiencies-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: var(--my-margin);
    border-bottom: var(--border-bottom);
}

.experience-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: var(--my-margin);
    border-bottom: var(--border-bottom);
}

.education-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: var(--my-margin);
    border-bottom: var(--border-bottom);
}


.certifications-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: var(--my-margin);
    border-bottom: var(--border-bottom);
}

.contact-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.contact-list li {
    display: var(--contact-list-li);
    margin-left: .6em;
}

.contact-list a{
    margin-left: .5em;
}

.contact-container {
    display: flex;
    margin: var(--my-margin);
}

.extras-container {
    display: flex;
    margin: var(--my-margin);
}

#clock {
    font-family: 'Orbitron',sans-serif;
    color: #66ff99;
    font-size: 20px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}